# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual Environments
.env
.venv/
env/
venv/

# Coverage Reports
.coverage
htmlcov/

# Logs
*.log

# Ignore only compiled Python files, not .py scripts
*.pyc
*.pyo
*.pyd

# IntelliJ project metadata
/.idea/

# Default ignored files
/shelf/
/workspace.xml